/* CSS Document */
.flL {
  float: left;
}

.flR {
  float: right;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.bold {
  font-weight: bold;
}

.v-middle {
  vertical-align: middle;
}

.v-bottom {
  vertical-align: bottom;
}

.taR {
  text-align: right;
}

.taC {
  text-align: center;
}

a {
  text-decoration: none;
  color: #666;
}

body, input {
  font-family: Meiryo, sans-serif,"Hiragino Kaku Gothic ProN";
}

input:focus {
  outline: 0px none black;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*first-view
============================================================================= */
#first-view {
  background: #182327;
  overflow: hidden;
}
#first-view #header {
  margin: 0 auto;
  display: table;
  height: 100%;
  position: relative;
  z-index: 100;
}
#first-view #header .container {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
}
#first-view #header h1 {
  font-size: 60px;
  font-family: 'Abril Fatface', cursive;
}
#first-view #header h2 {
  font-size: 26px;
  margin-top: 5px;
}
#first-view #header p {
  margin-top: 40px;
}
#first-view #header .icon-list li {
  display: inline-block;
  margin: 22px 8px;
}
#first-view #header .icon-list li a {
  color: #fff;
  border: 4px double #4f5b60;
  color: #abab81;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  padding: 11px;
  line-height: 28px;
  background: transparent;
  transition: all 0.2s ease;
  display: block;
  font-size: 22px;
}
#first-view #header .icon-list li a:hover {
  border: 4px solid #abab81;
  background: #abab81;
  color: #fff;
  transition: all 0.2s ease;
  font-size: 24px;
  line-height: 26px;
}
#first-view canvas {
  position: absolute;
  width: 100%;
  top: 0;
}

/*project-01
============================================================================= */
.project-01 {
  background: url(../img/project_01.png) #fafafa;
  background-size: 70%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: 1s ease-in-out;
}
.project-01 .info {
  width: 50%;
  float: right;
  height: 100%;
  background: rgba(198, 198, 198, 0.9);
  padding: 80px;
  display: table;
  box-sizing: border-box;
}
.project-01 .info .text {
  display: table-cell;
  vertical-align: middle;
}
.project-01 .info .text h1 {
  font-size: 3.725em;
  line-height: 1.6;
  margin: 0;
  font-weight: 400;
  font-family: 'Abril Fatface', cursive;
  color: #fff;
}
.project-01 .info .text p {
  font-size: 1.1em;
  line-height: 1.8;
  margin: 0;
  font-weight: 400;
  width: 80%;
  color: #fff;
}
.project-01 .info .text button {
  background: #fff;
  color: #676767;
  border-radius: 40px;
  font-size: 0.9em;
  letter-spacing: 3px;
  min-width: 150px;
  max-width: 250px;
  display: block;
  padding: 0.8em 1.8em;
  border: none;
  margin: 1.8em 0;
  cursor: pointer;
  border: 1px solid #fff;
  position: relative;
  z-index: 2;
  outline: none;
}
.project-01 .info .text button,
.project-01 .info .text button::before,
.project-01 .info .text button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.project-01 .info .text button:hover {
  background: none;
  color: #fff;
}
.project-01 .info .text button:before {
  right: 0;
  border-radius: 0 40px 40px 0;
}
.project-01 .info .text button:after {
  left: 0;
  border-radius: 40px 0 0 40px;
}
.project-01 .info .text button:before,
.project-01 .info .text button:after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
  top: 0;
  width: 50%;
  height: 100%;
  background: #fff;
}
.project-01 .info .text button:hover:before,
.project-01 .info .text button:hover:after {
  width: 0;
  background: none;
}

/*project-02
============================================================================= */
.project-02 {
  background: url(../img/project_02.png) #151515;
  background-size: 70%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: 1s ease-in-out;
}
.project-02 .info {
  width: 50%;
  float: right;
  height: 100%;
  background: rgba(21, 21, 21, 0.9);
  padding: 80px;
  display: table;
  box-sizing: border-box;
}
.project-02 .info .text {
  display: table-cell;
  vertical-align: middle;
}
.project-02 .info .text h1 {
  font-size: 3.725em;
  line-height: 1.6;
  margin: 0;
  font-weight: 400;
  font-family: 'Abril Fatface', cursive;
  color: #fff;
}
.project-02 .info .text p {
  font-size: 1.1em;
  line-height: 1.8;
  margin: 0;
  font-weight: 400;
  width: 80%;
  color: #fff;
}
.project-02 .info .text button {
  background: #fff;
  color: #676767;
  border-radius: 40px;
  font-size: 0.9em;
  letter-spacing: 3px;
  min-width: 150px;
  max-width: 250px;
  display: block;
  padding: 0.8em 1.8em;
  border: none;
  margin: 1.8em 0;
  cursor: pointer;
  border: 1px solid #fff;
  position: relative;
  z-index: 2;
  outline: none;
}
.project-02 .info .text button,
.project-02 .info .text button::before,
.project-02 .info .text button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.project-02 .info .text button:hover {
  background: none;
  color: #fff;
}
.project-02 .info .text button:before {
  right: 0;
  border-radius: 0 40px 40px 0;
}
.project-02 .info .text button:after {
  left: 0;
  border-radius: 40px 0 0 40px;
}
.project-02 .info .text button:before,
.project-02 .info .text button:after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
  top: 0;
  width: 50%;
  height: 100%;
  background: #fff;
}
.project-02 .info .text button:hover:before,
.project-02 .info .text button:hover:after {
  width: 0;
  background: none;
}

/*contact
============================================================================= */
.contant-wrapper {
  background: #182327;
}
.contant-wrapper .contact {
  margin: 0 auto;
  display: table;
  height: 100%;
}
.contant-wrapper .contact .contact-inner {
  display: table-cell;
  vertical-align: middle;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #fff;
}
.contant-wrapper .contact .contact-inner h1 {
  font-size: 3.725em;
  line-height: 1.6;
  margin: 0;
  font-weight: 400;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 6px;
}
.contant-wrapper .contact .contact-inner h2 {
  margin-bottom: 50px;
  line-height: 1.6;
}
.contant-wrapper .contact .contact-inner .left-column {
  float: left;
  width: 420px;
  margin-bottom: 30px;
}
.contant-wrapper .contact .contact-inner .left-column p {
  text-align: left;
  margin-bottom: 15px;
}
.contant-wrapper .contact .contact-inner .left-column .caution {
  margin-bottom: 22px;
  display: block;
}
.contant-wrapper .contact .contact-inner .left-column input {
  width: 100%;
  background: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  -webkit-appearance: none;
  box-sizing: border-box;
}
.contant-wrapper .contact .contact-inner .left-column .attention {
  display: block;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin-top: -3px;
}
.contant-wrapper .contact .contact-inner .right-column {
  float: right;
  width: 420px;
  margin-left: 50px;
}
.contant-wrapper .contact .contact-inner .right-column p {
  text-align: left;
  margin-bottom: 10px;
}
.contant-wrapper .contact .contact-inner .right-column .caution {
  display: block;
}
.contant-wrapper .contact .contact-inner .right-column textarea {
  width: 100%;
  height: 132px;
  background: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  -webkit-appearance: none;
  box-sizing: border-box;
}
.contant-wrapper .contact .contact-inner .right-column .attention {
  display: block;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin-top: -5px;
}
.contant-wrapper .contact .contact-inner button {
  background: #fff;
  color: #676767;
  border-radius: 40px;
  font-size: 0.9em;
  letter-spacing: 3px;
  min-width: 150px;
  max-width: 250px;
  display: block;
  padding: 0.8em 1.8em;
  border: none;
  margin: 1.8em 0;
  cursor: pointer;
  border: 1px solid #fff;
  position: relative;
  z-index: 2;
  clear: both;
  margin: 0 auto;
  outline: none;
}
.contant-wrapper .contact .contact-inner button,
.contant-wrapper .contact .contact-inner button::before,
.contant-wrapper .contact .contact-inner button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.contant-wrapper .contact .contact-inner button:hover {
  background: none;
  color: #fff;
}
.contant-wrapper .contact .contact-inner button:before {
  right: 0;
  border-radius: 0 40px 40px 0;
}
.contant-wrapper .contact .contact-inner button:after {
  left: 0;
  border-radius: 40px 0 0 40px;
}
.contant-wrapper .contact .contact-inner button:before,
.contant-wrapper .contact .contact-inner button:after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
  top: 0;
  width: 50%;
  height: 100%;
  background: #fff;
}
.contant-wrapper .contact .contact-inner button:hover:before,
.contant-wrapper .contact .contact-inner button:hover:after {
  width: 0;
  background: none;
}

/*# sourceMappingURL=style.css.map */
